@import "../../variables";

.nav-item {
  &--last{
    margin-top: 0.8rem;
    padding-top: 0.2rem;
    border-top: .1rem solid $gray;
  }
  &__link {
    width: 100%;
    padding: 0.4rem;
    color: $dark-text;
    text-transform: capitalize;
    text-align: left;
    font-size: 1.5rem;
    transition: color 0.3s ease;



    &:hover {
      color: $main;
    }
  }
}
