@import "../../variables";

.pagination {
  padding: 3.5rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;

  &__btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    font-size: 1.6rem;
    background: rgba(248, 182, 2, 0.1);
    color: $main;
    transition: 0.2s ease;
    font-family: inherit;

    &--active {
      background-color: $main;
      opacity: 1;
      color: #fff;
    }

    &:hover {
      background-color: $main;
      opacity: 1;
      color: #fff;
    }
  }
}
